################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Ep-04/PowerTips.Plugins/.vs/PowerTips.Plugins
/Ep-04/PowerTips.Plugins/packages
