################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PluginProject/PowerTips.Plugins/.vs/PowerTips.Plugins
/PluginProject/PowerTips.Plugins/packages
/PluginProject/PowerTips.Plugins/PowerTips.Plugins.Training/bin/Debug
/PluginProject/PowerTips.Plugins/PowerTips.Plugins.Training/obj/Debug
/PluginProject/PowerTips.Plugins/PowerTips.Plugins.UnitTests/bin/Debug
/PluginProject/PowerTips.Plugins/PowerTips.Plugins.UnitTests/obj/Debug
Ep-07/PowerTips.Demo/.vs/PowerTips.Demo/DesignTimeBuild/.dtbcache.v2
Ep-07/PowerTips.Demo/.vs/PowerTips.Demo/v17/.suo
Ep-07/PowerTips.Demo/PowerTips.Demo.DVManagedIdentity/Properties/PublishProfiles/func-powertips-powerplatform-demo - Zip Deploy.pubxml
Ep-07/PowerTips.Demo/.vs/
